{#
Détail d'une pizza
#}
{% extends "layout.html.twig" %}

{% block title %}Pizza {{pizza.libelle }}{% endblock %}

{% block content %}
        <div class="page-header">
          <h1>Détails d'une pizza</h1>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <h3>Nom</h3>
            <p>{{pizza.libelle }}</p>
            <h3>Composition</h3>
            <ul>
              {% for ingredient in pizza.ingredients %}
              <li>{{ingredient.libelle}}</li>
              {% endfor %} 
            </ul>
            <h3>Prix</h3>
            <ul class="list-inline">
              <li>Petite :&nbsp;<strong>{{pizza.prix_petite }}€</strong></li>
              <li>Grande :&nbsp;<strong>{{pizza.prix_grande }}€</strong></li>
              <li>Plaque :&nbsp;<strong>{{pizza.prix_plaque }}€</strong></li>
            </ul>
          </div>
        </div>
{% endblock %}